<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="systemConfig" class="com.macrosoft.utilities.SystemConfig">
		<property name="utpCoreAccessLibName" value="UtpCoreAccessLibCloud64" />
		<property name="convertorMgrName" value="convertorMgr64" />
		<property name="dbcConvertor" value="dbcConvertor" />

	</bean>
</beans>
