<div id="operationSetInfo" class="content-wrapper">
    <section class="content" id="operationSetOverAllInfo">
        <div class="box box-info" id="operationSetOverAllInfoBox">
            <div class="box-header with-border">
                <small>状态管理</small>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-placement="bottom"
                            data-toggle="tooltip" title="刷新" data-bind="click: activateIimedRefresh">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" id="operationDataA" style="height:870px;" >
                <!-- Webix 视图将被渲染到这里 -->
            </div>
        </div>
    </section>
</div>

<style>
     /* #operationDataAView {
        background-color: antiquewhite;
    } */
</style>
