<div id="statisticalStateSetInfo" class="content-wrapper">
    <section class="content" id="statisticalStateSetOverAllInfo" style="background-color: #f9f9f9; padding: 20px; border-radius: 8px; border: 1px solid #ddd;">
        <div class="box box-info" id="statisticalStateSetOverAllInfoBox">
            <div class="box-header with-border">
                <small>运行测试步骤</small>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-placement="bottom"
                            data-toggle="tooltip" title="刷新" data-bind="click: getProjectStatisticalStateData">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" id="statisticalStateDataA" style="height:870px;">
                <!-- Webix 视图将被渲染到这里 -->
            </div>
        </div>
    </section>
</div>