<div class="box box-primary">
	<div class="box-header with-border">
		<small>测试运行统计图</small>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-bind="click: protocolConditionSetting" data-toggle="tooltip"><i class="fa fa-wrench"></i></button>
			<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>		                
		 </div>	
	</div>				
	<div class="box-body" id="testsetElectricTwoWidth">
		<div>
			<h5 class="text-center" style="color: grey; font-style: italic;"
				data-bind="visible: showChart() == false">
				<small>暂无数据，请设置分析条件！</small>
			</h5>
            <div id="testsetElectricTwo" style="height: 350px;" data-bind="visible: showChart() == true"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="testsetElectricTwoReportTwoSettingModal" tabindex="-1" role="dialog"
	aria-labelledby="testsetElectricTwoReportTwoSettingModalLabel"  data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">报告过滤设置</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label><span lang="en">开始时间</span></label>
                    <div class="input-group date" id="testsetElectricTwoSearchBeginDate">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" data-bind="value:startFromDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label><span lang="en">结束时间</span></label>
                    <div class="input-group date" id="testsetElectricTwoSearchEndDate">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" data-bind="value:endByDate">
                    </div>
                </div>
                <div class="form-group">
                    <label><span lang="en">测试集</span></label>
                    <select class="form-control" data-bind="options: testsets,
                                    optionsText: 'name',
            						value: selectedTestset, 
            						optionsCaption: '选择....'">
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="testsetElectricTwoDefaultCheck" data-bind="checked: testsetElectricTwoAutoFlag">
                        <label class="form-check-label" for="testsetElectricTwoDefaultCheck">
                            是否自动获取数据
                        </label>
                    </div>
                </div>
                <div class="form-group" data-bind="visible: testsetElectricTwoAutoFlag">
                    <label><span lang="en">时间段</span></label>
                    <select class="form-control" data-bind="options: autoRefreshTimeOptions,
            						value: selectedAutoRefreshTime, 
            						optionsCaption: '选择....',
            						event: { change: autoRefreshTimeChanged }">
                    </select>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" data-bind="click: createTestsetElectricTwoStatistics">确定</button>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
    code {
      background-color: #f5f5f5;
    }
</style>

